<template>
  <div
    ref="color_changer"
    class="color_changer"
    :style="{ background: color }"
  ></div>
</template>

<script>
export default {
  props: {
    timer: {
      type: Number,
      default: 1000,
    },
  },
  data() {
    return {
      color: 'green',
    }
  },
  mounted() {
    const colorArr = ['red', 'yellow', 'blue', 'orange', 'green', 'violet']
    let counter = 0
    setInterval(() => {
      if (counter === 6) counter = 0
      this.color = colorArr[counter]
      counter++
    }, this.timer)
  },
}
</script>

<style scoped>
.color_changer {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;

  transition: all 0.5s;
}
</style>
