<template>
  <div class="rss_info_container">
    <h1>Headline</h1>
    {{ rssTitle }}
    <h1>MD5</h1>
    {{ rssMd5 }}
  </div>
</template>

<script>
const md5 = require('md5')
export default {
  data() {
    return {
      rssInfo: null,
      rssTitle: '',
      rssMd5: '',
    }
  },
  async fetch() {
    this.rssInfo = await this.$axios
      .get('http://rss.cnn.com/rss/cnn_latest.rss')
      .then((result) => {
        return result.data
      })
  },

  mounted() {
    const parser = new DOMParser()
    const doc = parser.parseFromString(this.rssInfo, 'text/xml')
    this.rssTitle = doc
      .getElementsByTagName('item')[0]
      .getElementsByTagName('title')[0].childNodes[0].nodeValue
    this.rssMd5 = md5(this.rssTitle)
  },
}
</script>

<style scoped>
.rss_info_container {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.rss_info_container h1 {
  font-size: 2.1rem;
  padding: 30px 0px;
}
</style>
