<template>
  <div>
    <h1 class="color_changer_title_container">Color Changer</h1>
    <div class="color_changer_container">
      <ColorChanger />
    </div>
    <h1 class="rss_feed_title_container">Rss Info</h1>
    <RssInfo />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ColorChanger from '~/components/ColorChanger.vue'
import RssInfo from '~/components/RssInfo.vue'
export default Vue.extend({
  components: {
    ColorChanger,
    RssInfo,
  },
})
</script>

<style scoped>
.color_changer_title_container {
  text-align: center;
  padding: 30px 0px;
}
.color_changer_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.rss_feed_title_container {
  text-align: center;
  padding: 30px 0px;
}
</style>
